<html>
<head>
    <title>Informations</title>
</head>
<body>


<p>
<img border="0" alt="W3Schools" src="https://cdn.dribbble.com/users/1330537/screenshots/3878129/artboard_7.5.png" width="100" height="100">
</p>

<h3>Properties:</h3>
<table>
        <tr align="left">
            <th>Variable</th>
            <th>Value</th>
        </tr>
        <tr align="left">
          <td>HersoService:</td>
          <td>{{ .HersoService }}</td>
        </tr>
        <tr align="left">
          <td>EnvHeroServiceImpl:</td>
          <td>{{ .EnvHeroServiceImpl }}</td>
        </tr>
</table>
</body>
</html>