<html>
<head>
    <title>Informations</title>
</head>
<body>


<p>
<img border="0" alt="W3Schools" src="https://cdn.dribbble.com/users/1330537/screenshots/3878129/artboard_7.5.png" width="100" height="100">
</p>

<h3>Properties:</h3>
<table>
        <tr align="left">
            <th>Variable</th>
            <th>Value</th>
        </tr>
        <tr align="left">
          <td>HeroesService:</td>
          <td>{{ .Info.HeroesService }}</td>
        </tr>
        <tr align="left">
          <td>EnvHeroServiceImpl:</td>
          <td>{{ .Info.EnvHeroServiceImpl }}</td>
        </tr>
        <tr align="left">
            <td>Version:</td>
            <td><b>{{ .Version }}</b></td>
          </tr>  
</table>

<p>GoTo: <a href="/api/heroes">Hero List</a></p>
<p>GoTo: <a href="/api/protocol">Show a List of Protocols</a></p>

<p>GoTo: <a href="/worker/protocol">Worker for Subscribe and save to Datastore</a></p>

</body>
</html>